.App {
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.alert {
  position: absolute;
  bottom: 0;
}

.wrap {
  display: flex;
}

.result {
  width:39vw;
  max-width: 39vw;
  height: 50vh;
  background: white;
  border: 1px solid black;
  overflow: auto;
}